.vscode/**
**/*.ts
**/*.map
.gitignore
.git/
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
# client/node_modules/**
# !client/node_modules/vscode-jsonrpc/**
# !client/node_modules/vscode-languageclient/**
# !client/node_modules/vscode-languageserver-protocol/**
# !client/node_modules/vscode-languageserver-types/**
# !client/node_modules/semver/**
vsc-extension-quickstart.md

client/**
shared.webpack.config.js
!client/out/extension.js
server/**
!server/out/
node_modules
test